<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="ablamsApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ablamsApp.image.filePath">File Path</span></dt>
                <dd>
                    <span>{{image.filePath}}</span>
                </dd>
                <dt><span jhiTranslate="ablamsApp.image.audioBook">Audio Book</span></dt>
                <dd>
                    <div *ngIf="image.audioBookId">
                        <a [routerLink]="['/audio-book', image.audioBookId, 'view']">{{image.audioBookId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ablamsApp.image.author">Author</span></dt>
                <dd>
                    <div *ngIf="image.authorId">
                        <a [routerLink]="['/author', image.authorId, 'view']">{{image.authorId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
