<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-audio-series-heading" jhiTranslate="ablamsApp.audioSeries.home.createOrEditLabel">Create or edit a Audio Series</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!audioSeries.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="audioSeries.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ablamsApp.audioSeries.seriesName" for="field_seriesName">Series Name</label>
                    <input type="text" class="form-control" name="seriesName" id="field_seriesName"
                        [(ngModel)]="audioSeries.seriesName" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ablamsApp.audioSeries.author" for="field_author">Author</label>
                    <select class="form-control" id="field_author" name="author" [(ngModel)]="audioSeries.authorId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="authorOption.id" *ngFor="let authorOption of authors; trackBy: trackAuthorById">{{authorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
